/* * {
    overflow: hidden;
} */

.mainDiv {
    display: flex;
}

#firstCol {
    width: 15%;
    
    height: 100vh;
    display: flex;
    padding-right: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6%;
}

#secCol {
    width: 55%;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding-left: 4%;
    padding-top: 1%;
}

#thirdCol {
    width: 10%;
    padding-left: 3%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

span {
    padding: 10px;
    color: gray;
    font-weight: 500;
    font-size: medium;
}

#movie {
    color: black !important;
}

.menuDiv {
    color: darkgrey;
    font-size: small;
    padding: 20px 0;
}

.subMenu {
    padding-bottom: 15px;
    color: gray;
    font-weight: 500;
    width: 100%;
}

#menu {
    color: black !important;
}

.jumanImg {
    width: 95%;
    height: 28%;
    padding: 2%;
}

.jumanImg img {
    width: 93%;
    border-radius: 30px;
    height: 100%;
}

.artistImg {
    display: flex;
    height: 22%;
    width: 100%;
}

.artistImg div {
    width: 20%;
    margin: 10px;
    height: 90%;
}

.artistImg div img {
    height: 95%;
    padding: 6px;
    border-radius: 20px;
    width: 90%;
}

.artistLabel {
    display: flex;
    width: 90%;
    justify-content: space-between;
    color: gray;
    font-weight: 600;
}

input {
    width: 90%;
    border-radius: 10px;
    height: 20px;
    margin-bottom: 15px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7OAPC7-z4Gm7ChPe6mCN0uJPssLrej9cq3Q&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 0.2rem;
    text-indent: 20px;
}

.pending {
    display: flex;
    width: 100%;
    color: gray;
    font-size: medium;
    font-weight: 700;
}

.pending div {
    border: 1px solid grey;
    width:28%;
    border-radius: 20px;
    margin: 10px;
}

.pending div img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.popular {
    display: flex;
    max-width: max-content;
    margin-top: 5px;
    width: 100%;
   justify-content: space-between;

}

.popText {
    display: flex;
    flex-direction: column;
    font-size: small;
    color: gray;
    padding-left: 7px;
    max-width: max-content;
    width: 90%;
    justify-content: space-between;
}

button {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(240, 58, 58);
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}